html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 160%;
}

body #root {
    height: 100%;
}

body .App-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 120px 1fr 220px;
}

header {
    padding: 15px;
    grid-area: header;
}

header .App-companyLogo {
    margin: 35px 0 0 10px;
    max-width: 130px;
}

header nav {
    margin-top: 39px;
    width: 630px;
    float: right;
    font-size: 1.1em;
}

header nav .Header-loginButton {
    background: #00E489;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: -5px;
}

main {
    grid-area: main;
    padding: 0 15px;
}

footer {
    grid-area: footer;
    padding: 20px;
    background: #00e489;
    color: white;
}

footer .Footer-copyright {
    width: 100%;
    text-align: center;
}
